
<div class="fondo">
    <div class="container-fluid">
        <h1 class="titulo text-center text-uppercase py-5">Iniciar Sesión</h1>
        <form [formGroup]="formulario" class="container align-center">
          <div class="form-group">
            <div class="row">
              <div class="col col-md-12 col-sm-12">
                <div class="mb-3">
                  <label
                    for="inputEmail"
                    class="form-label text-white"
                    style="font-size: 1.2rem"
                    >Correo electrónico</label>
  
                    <div class="input-group">
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <i class="bi bi-person-fill"></i>
                        </div>
                      </div>
                      <input type="text" placeholder="ejemplo@hotmail.com" required="required"
                        formControlName="email"
                        class="form-control"
                        [class.is-invalid]="controlEmail.touched && controlEmail.hasError('required')"
                        #inputEmail
                      />
                      @if (controlEmail.touched && controlEmail.hasError('required')) {
                        <p class="invalid-feedback">Correo es requerido, complete el campo</p>
                      }

                    </div>
                    
                    <label for="inputPassword" class="form-label text-white mt-2" style="font-size: 1.2rem">Contraseña</label>

                    <div class="input-group">
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <i class="bi bi-key-fill"></i>
                        </div>
                      </div>
                      <input
                        type="{{ fieldTextType ? 'text' : 'password' }}" 
                        name="p"
                        placeholder="Ingrese su contraseña"
                        required="required"
                        formControlName="password"
                        class="form-control"
                        [class.is-invalid]="controlPassword.touched && controlPassword.hasError('required')"
                      />
                    
                        <button class="btn btn-outline-secondary" type="button" (click)="toggleFieldTextType()">
                          @if(fieldTextType){
                            <i class="bi bi-eye"></i>
                          }@else {
                            <i class="bi bi-eye-slash"></i>
                          }
                        </button>

                    
                      @if (controlPassword.touched && controlPassword.hasError('required')) {
                        <p class="invalid-feedback">Contraseña es requerida, complete el campo</p>
                      }
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <a class="icon-link icon-link-hover mt-2" routerLink="/user-register">
                          ¿Nuevo en HelpHub? Regístrate
                          <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
                        </a>
                      </div>
                      <div class="col-md-6">
                      <button type="button" class="btn btn-secondary mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        ¿Olvidaste tu contraseña?
                      </button>

                      <!-- Modal -->
                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" (hidden.bs.modal)="limpiarFormulario()">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5 text-dark" id="exampleModalLabel">Recuperar Contraseña</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <form [formGroup]="formRecovery"> 
                                <div class="mb-3">
                                  <label for="recuperarEmail" class="form-label">Email</label>
                                  <input type="email" class="form-control" id="recuperarEmail" formControlName="recuperarEmail" placeholder="Ingrese su email">
                                </div>
                              
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary btn-block btn-large  fw-semibold" (click)="recuperarPassword()">Enviar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      </div>
                    </div>


                  
                  
                  <br>
                  <button
                    type="submit"
                    class="btn btn-primary btn-block btn-large  fw-semibold mt-2"
                    [disabled]="!formulario.valid" (click)="iniciarSesion()"
                  >
                    Inicar Sesión
                  </button>

                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
  </div>
