@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
.btn {
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #4ea15c;
}
.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


.btn-primary[disabled]{
  background-color: grey;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active
 {
  filter: none;
  background-color: #4ea15c;
}
.btn-block {
  width: 100%;
  display: block;
}


h1 {
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  text-align: center;
} 



.titulo {
  font-family: 'Azonix', sans-serif;
  font-weight: 700;
  font-size: xx-large;
}

.fondo {
  background-image: url("../../../../assets/img/logintemplate.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.container.align-center {
  max-width: 600px;
  width: 100%;
  padding: 20px;
}
.icon-link {
  color: white; 
  text-decoration: none; 
}

.icon-link:hover {
  color: rgb(25, 135, 84); 
}

.button {
  text-decoration: none;
  line-height: 1;
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  box-shadow: 10px 10px 20px rgba(0,0,0,.05);
  background-color: #fff;
  color: #121212;
  border: none;
  cursor: pointer;
}

.button-decor {
  position: absolute;
  inset: 0;
  background-color: var(--clr);
  transform: translateX(-100%);
  transition: transform .3s;
  z-index: 0;
}

.button-content {
  display: flex;
  align-items: center;
  font-weight: 600;
  position: relative;
  overflow: hidden;
}

.button__icon {
  width: 48px;
  height: 40px;
  background-color: var(--clr);
  display: grid;
  place-items: center;
}

.button__text {
  display: inline-block;
  transition: color .2s;
  padding: 2px 1.5rem 2px;
  padding-left: .75rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}

.button:hover .button__text {
  color: #fff;
}

.button:hover .button-decor {
  transform: translate(0);
}


.loginbutton {
  position: relative;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #252424;
  padding: 15px 30px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.4s ease;
  font-family: 'Azonix', sans-serif;
}

.loginbutton:before {
  content: "";
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 20%;
  background-color: #e8e8e8;
  translate: -100% 0;
  rotate: 45deg;
  transition: all 0.4s ease;
}

.loginbutton:hover {
  color: #e8e8e8;
  background-color: rgb(41, 160, 41);
  box-shadow: 0 0 24px 8px rgba(131, 100, 232, 0.4);
}

.loginbutton:hover:before {
  translate: 100%;
}

.loginbutton:active {
  scale: 0.95;
  box-shadow: 0 0 16px 4px rgba(131, 100, 232, 0.4);
}

label, a, span, h1{
  font-family: 'Azonix', sans-serif;
}

p,h1{
  font-family: 'Saira', sans-serif;
}
