.tituloBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


a {
  text-decoration: none;
  color: white;
}

.fondo {
  background-image: url('../../../assets/img/home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.texto-personalizado {
  background: gray;
  color: #ffffd5;
  padding: 0 10px;
  font-family: "Lora", serif;
  font-weight: 700;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary.disabled,
.btn-secondary[disabled] {
  filter: none;
  background-color: #4ea15c;
}