 <div class="fondo">
   <section class="showcase">
    <div class="content">
      <h1 class="text-uppercase">Configuración a la medida</h1>
      <h3 class="text-uppercase">resultados inigualables</h3>
      <button type="button" class="btn btn-outline-light" (click)="scrollToAbout()">Read More</button>
    </div>
  </section>
 </div>

 <section id="about">
  <div class="container">
    <h1>Acerca de HelpHub</h1>
    <p>
      This is a landing page with a full screen video background. Feel free to use this landing page in your projects.
      Keep adding sections, change the video, content, etc.
    </p>

    <h2>Follow Me On Social Media</h2>

    <div class="social">
      <a target="_blank" class="text-white" href="https://www.instagram.com"><i class="bi bi-instagram"></i></a>
      <a target="_blank" class="text-white" href="https://www.twitter.com"><i class="bi bi-twitter-x"></i></a>
      <a target="_blank" class="text-white" href="https://www.github.com"><i class="bi bi-github"></i></a>
    </div>
  </div>
</section>

