 <div class="fondo">
   <section class="showcase">
    <div class="content">
      <h1 class="text-uppercase">Configuración a la medida</h1>
      <h3 class="text-uppercase">resultados inigualables</h3>
      <button type="button" class="btn btn-outline-light bi bi-arrow-down" (click)="scrollToAbout()"> Read More</button>
    </div>
  </section>
 </div>

 <section id="about">
  <div class="container">
    <h1>Acerca de HelpHub</h1>
    <p>
      This is a landing page with a full screen video background. Feel free to use this landing page in your projects.
      Keep adding sections, change the video, content, etc.
    </p>
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="../../../assets/img/logo2.jpg" class="d-block" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="../../../assets/img/logo4.jpg" class="d-block" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/img/logo3.jpg" class="d-block" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
    <h2>Follow Me On Social Media</h2>

    <div class="social">
      <a target="_blank" class="text-white" href="https://www.instagram.com"><i class="bi bi-instagram"></i></a>
      <a target="_blank" class="text-white" href="https://www.twitter.com"><i class="bi bi-twitter-x"></i></a>
      <a target="_blank" class="text-white" href="https://www.github.com"><i class="bi bi-github"></i></a>
    </div>
  </div>
</section>

