<app-sidenav></app-sidenav>
<div class="fondo">
  <div class="container py-5">
    <div id="titulo-homepage" class="text-white">
      <div class="container my-5">
        <div class="tituloBox text-uppercase">
          <br>
          <h3>Configuración a la <span class="texto-personalizado">medida,</span></h3>
          <p>resultados inigualables</p>
          <button type="button" class="btn btn-secondary bi bi-person-add" routerLink="/user-register"> Registrarse</button>
        </div>
      </div>
    </div>
  </div>
</div>

