.hero {
  height: 100vh; 
  background-image: url("../../../assets/img/logo5.jpg");
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Lora", serif;
}

.hero h1 {
  font-size: 36px; 
}

.hero p {
  font-size: 24px; 
}


.features {
  background-image: url("../../../assets/img/logo6.jpg");
  color: #fff; 
  padding: 80px 0;
  text-align: center;
}

.features .section-title {
  margin-bottom: 50px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.feature .icon {
  font-size: 36px;
  margin-bottom: 20px;
}

.feature h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.feature p {
  font-size: 18px;
  line-height: 1.6;
}



.cta {
  background-color: #222; 
  padding: 50px 0;
  text-align: center;
}


.hero h1,
.hero p,
.features h2,
.feature h3,
.feature p,
.cta h2,
.cta button {
  color: #fff;
}


.letra:hover{
  background-color: rgb(120, 207, 236);
}

.titulo{
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: xx-large;
}

.social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222; 
  box-shadow: 0px 0px 15px #00000027;
  padding: 15px 10px;
  border-radius: 5em;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 0px 0px 4px #00000027;
  transition: 0.3s;
}

.social-button:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 6px 3px #00000027;
}

.social-buttons svg {
  transition: 0.3s;
  height: 20px;
}

.facebook {
  background-color: #3b5998;
}

.facebook svg {
  fill: #f2f2f2;
}

.facebook:hover svg {
  fill: #3b5998;
}

.github {
  background-color: #333;
}

.github svg {
  width: 25px;
  height: 25px;
  fill: #f2f2f2;
}

.github:hover svg {
  fill: #333;
}

.linkedin {
  background-color: #0077b5;
}

.linkedin svg {
  fill: #f2f2f2;
}

.linkedin:hover svg {
  fill: #0077b5;
}

.instagram {
  background-color: #c13584;
}

.instagram svg {
  fill: #f2f2f2;
}

.instagram:hover svg {
  fill: #c13584;
}


