@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
.fondo {
  background-size: cover;
  background-image: url("../../../../assets/img/home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.titulo {
  font-family: "Azonix", sans-serif;
  font-weight: 700;
  font-size: xx-large;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active {
  filter: none;
  background-color: #4ea15c;
}
.btn-primary[disabled] {
  background-color: grey;
}

td {
  font-family: "Saira", sans-serif;
}
