.fondo {
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
  min-height: 100vh;
}

.titulo {
  font-family: "Azonix", sans-serif;
  font-weight: 700;
  font-size: xx-large;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active {
  filter: none;
  background-color: #4ea15c;
}
.btn-primary[disabled] {
  background-color: grey;
}

td {
  font-family: "Saira", sans-serif;
}
