@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
.form-label{
    color: black;
}
h1,label{
    font-family: 'Azonix', sans-serif;
}

.button-font{
    font-family: 'Azonix', sans-serif;
}