
<div class="fondo">
    <div class="container-fluid">
        <h1 class="titulo text-center text-uppercase py-5 animate__animated animate__slideInLeft">Recuperar Contraseña</h1>
        <form [formGroup]="formulario" class="container align-center animate__animated animate__fadeInLeftBig">
          <div class="form-group">
            <div class="row">
              <div class="col col-md-12 col-sm-12">
                <div class="mb-3">
                  <label
                    for="inputEmail"
                    class="form-label text-white"
                    style="font-size: 1.2rem"
                    >Correo electrónico</label>
  
                    <div class="input-group">
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <i class="bi bi-person-fill"></i>
                        </div>
                      </div>
                      <input type="text" placeholder="Ingrese su correo" required="required"
                        formControlName="email"
                        class="form-control"
                        [class.is-invalid]="controlEmail.touched && controlEmail.hasError('required')"
                        #inputEmail
                      />
                      @if (controlEmail.touched && controlEmail.hasError('required')) {
                        <p class="invalid-feedback">Correo es requerido, complete el campo</p>
                      }

                    </div>
                    
                    <label for="inputPassword" class="form-label text-white mt-2" style="font-size: 1.2rem">Contraseña</label>

                    <div class="input-group">
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <i class="bi bi-key-fill"></i>
                        </div>
                      </div>
                      <input
                        type="{{ fieldTextType ? 'text' : 'password' }}" 
                        name="p"
                        placeholder="Ingrese su contraseña"
                        required="required"
                        formControlName="password"
                        class="form-control"
                        [class.is-invalid]="controlPassword.touched && controlPassword.hasError('required')"
                      />
                    
                        <button class="btn btn-outline-secondary" type="button" (click)="toggleFieldTextType()">
                          @if(fieldTextType){
                            <i class="bi bi-eye"></i>
                          }@else {
                            <i class="bi bi-eye-slash"></i>
                          }
                        </button>

                    
                      @if (controlPassword.touched && controlPassword.hasError('required')) {
                        <p class="invalid-feedback">Contraseña es requerida, complete el campo</p>
                      }
                    </div>
                  
                  <br>
                  <button class="button btn btn-block btn-large" [disabled]="!formulario.valid" (click)="cambiarPassword()" routerLink="/user-login"> Cambiar contraseña
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
  </div>
