@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
.btn {
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #4ea15c;
}
.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


.btn-primary[disabled]{
  background-color: grey;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active
 {
  filter: none;
  background-color: #4ea15c;
}
.btn-block {
  width: 100%;
  display: block;
}


h1 {
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  text-align: center;
} 



.titulo {
  font-family: 'Azonix', sans-serif;
  font-weight: 700;
  font-size: xx-large;
}

.fondo {
  background-image: url("../../../../assets/img/logo5.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.container.align-center {
  max-width: 600px;
  width: 100%;
  padding: 20px;
}

.button {
  position: relative;
  padding: 15px 30px;
  font-family: inherit;
  background-color: var(--color-primary);
  border: 2px solid;
  font-size: 20px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.button:hover span {
  background: linear-gradient(135deg, #aefb2a 0%, #57ebde 100% );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: -110%;
  top: -0%;
  background: #aefb2a;
  pointer-events: none;
  margin: auto;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover {
  letter-spacing: 2px;
  border-image: linear-gradient(135deg, #aefb2a 0%, #57ebde 100% );
  border-image-slice: 1;
}

.button:hover::before {
  left: 110%;
}

.button:active {
  scale: 0.95;
}

label, a, span, h1{
  font-family: 'Azonix', sans-serif;
}

p,h1{
  font-family: 'Saira', sans-serif;
}
.button-font{
  font-family: 'Azonix', sans-serif;
}