<div class="bg-dark position-relative d-flex justify-content-between align-items-center">
    <button class="btn btn-outline-light bi bi-list" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"></button>
    <div class="d-flex">
        <div class="dropdown">
            <button class="btn btn-outline-light dropdown-toggle bi bi-person-circle mx-2" type="button" data-bs-toggle="dropdown" aria-controls="offcanvasScrolling"></button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/user-login">Iniciar Sesión</a></li>
              <!-- <li><a class="dropdown-item" routerLink="/" (click)="cerrarSesion()">Cerrar Sesión</a></li> -->
              <li><a class="dropdown-item" routerLink="/user-register">Registrarse</a></li>
            </ul>
          </div>
      
    </div>
</div>

<div class="offcanvas offcanvas-start bg-dark" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h2 class="offcanvas-title text-white" id="offcanvasExampleLabel" data-bs-dismiss="offcanvas" aria-label="Close" style="cursor: pointer;">HelpHub</h2>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <button class="btn btn-outline-light btn-block btn-large text-uppercase fw-semibold" routerLink="">
            <i class="bi bi-house"></i> Inicio
        </button>
        <br>
        <button class="btn btn-outline-light btn-block btn-large text-uppercase fw-semibold" routerLink="/vectors_table">
            <i class="bi bi-list-ul"></i> Gestionar Listado
        </button>
    </div>
</div>

