<div class="bg-dark">
    <a class="btn btn-primary bi bi-list" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
        Menu
      </a>
      <div class="offcanvas offcanvas-start bg-dark" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h2 class="offcanvas-title text-white" id="offcanvasExampleLabel">HelpHub</h2>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
              Gestionar
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/vectors_table">Listado</a></li>
            </ul>
          </div>
        </div>
      </div>
</div>
