.btn-close-white {
    background-color: white; 
}


.btn-block .bi {
    margin-right: 5px; 
}


.btn-block {
    display: flex;
    align-items: center;
}


.btn-block {
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: left; 
} 

.color:hover {
    background-color: green; 
    color: white;
}

.cerrar:hover{
    background-color: red;
    color: white;
}

.registrar:hover{
    background-color: rgb(120, 207, 236);
}

.button{
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  
  .button {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #37FF8B;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  .button-nav{
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #37FF8B;
    --fs-size: 1em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }

  .navbar ul li {
    margin: 0;
  } 
  
  
  .navbar ul li a:hover {
    color: skyblue;
  }

  .nav-item {
    text-align: center;
  }