
<div class="fondo">
    <div>
        <h1 class="text-center text-uppercase py-3 text-white titulo">Listado de Preguntas y Respuestas</h1>
  
        <div class="text-center">
          <app-insert-vectors  (onAgregar)="fetchVectorsForCurrentUser()"></app-insert-vectors >
            <button type="button" class="btn btn-outline-info mb-2 ms-2 bi bi-house mt-2" routerLink=""> Home</button>

        </div>
        <div class="container">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div>
              &nbsp;            
                <i class="bi bi-arrow-right"></i>
            </div>

          </div>
        
        
          <mat-paginator class="bg-dark text-white" [length]="vectors.length" [pageSize]="pageSize" [pageIndex]="page" (page)="onPageChange($event)">
          </mat-paginator>
          <table class="table table-dark table-hover">
            <thead>
              <tr>
                <th scope="col">Pregunta</th>
                <th scope="col">Respuesta</th>
                <th scope="col">Estado</th>
                <th scope="col">Acción</th>

              </tr>
            </thead>
            <tbody>
              @for(fila of vectors.slice(page * pageSize, (page + 1) * pageSize); track fila){
              <tr>
                <td>{{ fila.pregunta }}</td>
                <td>{{ fila.respuesta }}</td>
                <td>
                  {{ (fila.estado !== undefined && +fila.estado === 1 ? 'Visble' : 'Oculta') || 'N/A' }}
                </td>
                <td>
                  <app-update-vectors [vector]="fila" (onUpdate)="fetchVectorsForCurrentUser()"></app-update-vectors>
                </td>
              </tr>
              }
            </tbody>
          </table>
          </div>
  </div>
  